
@section header
    {
    <link href="/js/ueditor/themes/default/css/ueditor.min.css" rel="stylesheet" />
}
<!--添加/编辑窗口-->
<form class="layui-form layui-form-pane" action="" id="formEdit">
    <input type="hidden" name="Id" v-model="Id" />
    <div class="layui-form-item">
        <label class="layui-form-label">名称</label>
        <div class="layui-input-block">
            <input type="text" name="Name" v-model="Name" required lay-verify="required" placeholder="请输入名称" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-input-block">
        <script id="Content_Editor" type="text/plain" style="width: 100%;">
        </script>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">是否发布</label>
        <div class="layui-input-block">
            <input type="radio" name="IsPublish" value="true" title="是">
            <input type="radio" name="IsPublish" value="false" title="否">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formSubmit">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<script type="text/javascript" charset="utf-8" src="/js/ueditor/ueditor.config.js?123"></script>
<script type="text/javascript" charset="utf-8" src="/js/ueditor/ueditor.all.js?123"></script>
<script type="text/javascript" charset="utf-8" src="/js/ueditor/lang/zh-cn/zh-cn.js?123"></script>
<script type="text/javascript" charset="utf-8" src="/js/ueditor/formdesign/leipi.formdesign.v4.js?123"></script>

<script type="text/javascript" src="/layui/layui.js"></script>
<script>

    // 如页面中字段需要使用富文本， 初始化Ueditor
    var ue_Content = UE.getEditor('Content_Editor', {
        //allowDivTransToP: false,//阻止转换div 为p
        toolleipi: true,//是否显示设计器的 toolbars
        textarea: 'Content',//需使用富文本对应的字段名称（如果没有对应传值会失败）
        //这里可以选择自己需要的工具按钮名称,此处仅选择如下五个
        //关闭字数统计
        wordCount: false,
        //关闭elementPath
        elementPathEnabled: false,
        autoHeightEnabled: true
        //默认的编辑区域高度
        , initialFrameHeight: 200
        , initialFrameWidth: 600
        , iframeCssUrl: "/js/ueditor/formdesign/bootstrap/css/bootstrap.min.css" //引入自身 css使编辑器兼容你网站css
        //更多其他参数，请参考ueditor.config.js中的配置项
    });
    layui.config({
        base: "/js/"
    }).use(['form', 'vue', 'ztree', 'layer', 'laydate', 'jquery', 'table', 'droptree', 'openauth', 'utils'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.jquery;
        var laydate = layui.laydate;
        var table = layui.table;
        var openauth = layui.openauth;
        var id = $.getUrlParam("id");   //获取传过来的ID
        var update = (id != null && id != '');
        var url = "/News/Add";
        var vm = new Vue({
            el: "#formEdit"
        });
        if (update) {

            url = "/News/Update";

            $.getJSON('/News/Get?id=' + id,
                function (data) {
                    var obj = data;
                    vm.$set('$data', obj);

                    setTimeout(function () {
                        ue_Content.setContent(obj.Content);
                    }, 500);


                    if (obj.IsPublish) {
                        $("input[name='IsPublish']").get(0).checked = true;
                    }
                    else {
                        $("input[name='IsPublish']").get(1).checked = true;

                    }
                    form.render('radio');
                });
        } else {
            vm.$set('$data',
                {
                    Id: '',
                    SortCode: 1
                });
        }


        //提交数据
        form.on('submit(formSubmit)',
            function (data) {
                $.post(url,
                    data.field,
                    function (data) {
                        layer.msg(data.Message);
                    },
                    "json");
                return false;
            });

    })
</script>
